---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const images = import.meta.glob("/src/assets/*.{jpeg,jpg,png,gif}");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="container">
      <ul
        class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
      >
        {
          posts.map((post, index) => (
            <li>
              <div class="timeline-middle">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div
                class={
                  (index % 2 === 0
                    ? "timeline-start md:text-end"
                    : "timeline-end") + " mb-10"
                }
              >
                <time class="font-mono italic">
                  <FormattedDate date={post.data.pubDate} />
                </time>
                <div class="text-lg font-black">
                  <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                </div>
                {post.data.heroImage && (
                  <a href={`/blog/${post.slug}/`}>
                    <Image
                      class={"rounded-box w-full my-2"}
                      width={600}
                      src={images["/src/assets" + post.data.heroImage]()}
                      alt=""
                    />
                  </a>
                )}

                {post.data.description}
              </div>
              <hr />
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
